python3.10 -m venv myEnv
pip install tensorflow==2.15.0
pip install dm-reverb==0.9.0
pip install tf-agents==0.19.0



pip install tensorflow==2.15.0
pip install dm-reverb==0.14.0
pip install tf-agents==0.19.0

pip install numpy 

pip install pygad==3.1.1

pip3 install -U scikit-learn

pip install pyswarms==3.10.1